<!-- <div class="container"> -->
  <h1 class="center-align">Liste de pokémons</h1>
  <div class="row">
    <div class="col s6 m4" *ngFor="let pokemon of pokemonList">
      <div class="card horizontal hoverable" pkmBorderCard="red">
        <div class="card-image valign-wrapper">
          <img class="" [src]="pokemon.picture" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ pokemon.name }}</p>
            <p><small>{{ pokemon.created | date:"dd/MM/yyyy hh:mm:ss" }}</small></p>
          </div>
          <!-- <div class="card-action">
          <a href="#">This is a link</a>
        </div> -->
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<!-- <div class="row">
  <form class="col s3">
    <input
      #input
      placeholder="Id of Pokemon"
      id="pokemon_id"
      type="number"
      (keyup)="onSelectPokemon(input.value)"
    />
  </form>
</div>
<input #input type="number" max="12" (keyup.enter)="onSelectPokemon(input.value)"> 
<p *ngIf="pokemonSelected">Vous avez sélectionné {{ pokemonSelected.name }}</p>
<h5 *ngFor="let pokemon of pokemonList; index as i">
  Welcome to {{ pokemon.id }} : {{ pokemon.name }}!
</h5>
-->
